Source: gnomeboyadvance
Section: games
Priority: optional
Maintainer: Sebastien NOEL <me@twolife.org>
Build-Depends: debhelper (>= 4.0.0), python, python-dev (>= 2.3), python-dev (<< 2.4)
Standards-Version: 3.6.1

Package: gnomeboyadvance
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gnome2, python-glade2, visualboyadvance
Suggests: python-pygame
Description: GNOME frontend for the VisualBoyAdvance emulator
 GnomeBoyAdvance is a frontend for VisualBoyAdvance emulator,
 written in Python using the GNOME tool kit.
