[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=GnomeBoyAdvance
Comment=GNOME frontend for the VisualBoy Advance emulator
Comment[fr]=Interface GNOME pour l'émulateur VisualBoy Advance
Icon=gba48.png
Exec=/usr/bin/gnomeboyadvance
Categories=Application;Game
